@font-face {
    font-family: SohoGothicPro-Regular ;
   	src: url(../fonts/SohoGothicPro-Regular.otf);
 }

@font-face {
    font-family: SohoGothicPro-Bold ;
   	src: url(../fonts/SohoGothicPro-Bold.otf);
 }
 

html{
	font-size:62.5%;
	box-sizing: border-box;
}

.header1{
	overflow: hidden;
	width: 100%;
	background-color: #005e9e;
	font-size: 1.6rem;
	color: white;
	height: auto;
	position:relative;
}


.sidenav {
	display: none;
    height: 100%;   
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #005e9e; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.header1-tabs, .header1-logo, .header1-login, .hamburger-menu{
	position: relative;
	display: inline-block;
}


.hamburger-menu{
	float: left;
	display: none;
}

.header1-logo{
	float: left;
	height: 50px;
	left: 7%;
}

.header1-tabs{
	float: left;
	height: 50px;
	width: 50%;
	left:15%;
}
.header1-login{
	vertical-align: middle;
	height: 50px;
	float: right;
	right: 8%;
}

.user-icon{
	padding-top: 10px;
}

.login-register{
	padding-top: 15px;
	padding-left: 10px;
}

.login-register li{
	display: inline-block;
	padding-right: 2px;
}
.header1-tabs ul{
	text-align: left;
	vertical-align: middle;	
}

.header1-tabs ul li{
	padding: 15px 30px 0px;
	display: inline-block;
}

.tabs li a{
	color:white;
}

.user-icon, .login-register{
	float: left;
	display: inline-block;
}

.main-content{
	position: relative;
	max-width: 100%;
	margin:0px;
	height: auto;
}

.header2{
	max-width: 100%;
	width: 100%;
	height: 50px;
	position: absolute;
	z-index: 3;
}

.logoicon, .homeicon{
	display: inline-block;
}

.logoicon{
	margin: 0 auto;
	position: relative;
	left:90px;
	width: 200px;
	height: 50px;
}


.homeicon{
	background-color: #005e9e;
	position: relative;
	float:right;
	right: 7%;
	top:35%;
}

.homeicon-mobile{
	position: relative;
	float:right;
	display: none;
	right: 7%;
}


.left-container{
	width: 47%;
	height: 658px;
	background-image: url(../img/bkgrnd_image.png);
	background-size: 100% 100%;
	position: relative;
}

.text-container{
	position: absolute;
	left: 13%;
	right: 13%;
	top: 74%;
	font-family: SohoGothicPro-Regular;
}

.text{	
	line-height: 160%;
	font-size: 2.4rem;
	color: #ffffff;
}

.subtext{
	line-height: 160%;
	font-size: 1.6rem;
	color: #eeeeee;
}

.right-container{
	width: 53%;
	height: 658px;
	position: relative;
}

.formContainer{
	font-family: SohoGothicPro-Regular;
	position: absolute;
	left: 10%;
	right: 10%;
	top: 14%;
	font-size: 2.4rem;
}

.nav-tabs li{
	font-weight: bold;
	font-size: 2.4rem;
	text-align: left;
	padding-left: 0;	
}

.nav-tabs li:last-child{
	padding-right: 0;
	text-align: right;
}

.nav-tabs li a{
	color: #666666;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #005e9e;
    cursor: default;
    background-color: #fff;
    padding-bottom: 5px;
    border:none;
    border-bottom:3px solid #005e9e;
}

.nav-tabs>li>a:hover,.nav-tabs>li>a, .nav-tabs{
	text-decoration: none;
	border:none;
}

.tab-content form{
	position: relative;
	font-size: 1.6rem;
}
.form-label{
	position: absolute;
	color: #999999;
}
.form-topcontainer{
	padding-top: 100px;
}

.form-bottomcontainer{
	padding-top: 50px;
}

.form-group{
	padding-bottom: 50px;
	position: relative;
	margin:0px;
}

.form-group label {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
}

.form-input{
	display: block;
    width: 100%;
    height: 6%;
    padding: 7px 7px;
    font-size: 1.6rem;
    line-height:2;
    color: black;    
    border: none;
    outline: none;
    border-bottom: 2px solid #999999;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
 	overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}


.form-input + label{
  display: block;
  position: relative;
  white-space: nowrap;  
  padding: 0;
  margin: 0;
  width: 10%;
  top: -10px;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.fomr-input:focus + label{
  width: 80%;
}
/*
.form-input:focus{
  padding-top: 35px;
}
*/
/*textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}
*/
.form-input:focus + label{
  top: -100px;
  font-size: 1.6rem;
  color: #333;
}
/*
textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}
*/

.form-input:invalid {
  box-shadow: none;
}

.form-input + label{
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 1.6rem;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}









.form-error{
	display: none;
}

.form-heading{
	position: absolute;
	padding-top: 5%;
	/*padding-bottom: 5%; */
	font-size: 2.4rem;
}


.form-button, .form-bottomright{
	display: inline-block;
}

.form-button{
	border: none;
    color: white;
    background-color: #b11116;
    padding: 2% 6%;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
	width: 20%;
}
.message{
	font-size: 1.6rem;
	color: #999999;
}

.form-bottomright{
	padding-top: 2%;
	font-size: 1.6rem;
	float: right;
}
.form-group{
	clear:both;
}

footer{
	background-color: #005e9e;
	width: 100%;
}

footer ul{
	padding: 30px 0px;
}

footer ul li{
	display: inline-block;
	width: 24%;
	text-align: center;
	top:2%;
}
 
footer, footer a{
	font-family: SohoGothicPro-Regular;
	clear: both;
	font-size: 1.6rem;
	color: white;
}

#copyright{
	text-align: center;
	padding-bottom: 1%;
	font-size: 1.2rem;
}

@media screen and (max-width: 1366px) {

	.header1-tabs{
		left:10%;
	}

	.header1-tabs ul li{
		padding: 15px 22px 0px;
	}
	.header1-login{
		right: 50px;
	}
}

@media screen and (max-width: 1080px) {

	.header1-tabs{
		left:10%;
	}

	.header1-tabs ul li{
		padding: 15px 18px 0px;
		display: inline-block;
	}

	.header1-login{
		right: 10px;
	}
	.logo{
		width: 160px;
		height: 50px;
	}
	
}

@media screen and (max-width: 960px) {
	.header1-tabs ul li{
		padding:15px 8px 0px;
	}
}

@media (max-width: 768px) {
    /* For mobile phones: */
	.sidenav{
		display: block;
	}
	
	.header1-logo{
		position: relative;
		left: 50%;
     	transform: translateX(-50%);
		width: 200px;
	}
	.hamburger-menu{
		top: 10px;
		left: 10px;
		display: block; 
	}
	.header1-login{
		float: right;
		padding-right: 10px;
		width: auto;
	}
	.login-register{
		display: none;
	}

	.header1-tabs{
		width: 0;
		display: none;
	}

	.header2{
		height: 50px;
		background-color: #005e9e;
	}

	.homeicon{
		display: none;	
	}

	.homeicon-mobile{
		top: 20%;
		display: block;
	}


	.logoicon{
		left: 50%;
     	transform: translateX(-50%);
	}

	.logo{
		width: 160px;
		height: 50px;
	}

	.home{
		width: 25px;
		height: 25px;	
	}

	.text-container{
		left: 15%;
		right: 15%;
		top: 60%;
		text-align: center;	
	}
	
    .left-container{
    	width:100%;
    	height:286px;
    	background-image: url(../img/image.png);
		background-size: 100% 100%;
    }
    .right-container{
    	width: 100%;
    	height: 580px;
    }

    .formContainer{
		left: 5%;
		right: 5%;
		top: 5%;
		bottom: 0%;
	}

	.form-button, .form-bottomright{
		display: block;
	}
	
	.form-button{
		margin: 0 auto;
		align-content: center;
   	 	display: block;
    	font-size: 1.6rem;
		float:none;
		width: 50%;
	}
 
 	.form-bottomright{
		margin:0 auto;
		width: 60%;
		text-align: center;
		float: none;
	}
	
	footer ul{
		padding-bottom: 10px;
	}
	footer ul li{
		font-size: 1.6rem;
		padding-bottom: 25px;
		display: inline-block;
		width: 48%;
		text-align: center;
		top:2%;
	}
}















